@charset "utf-8";
html, body{
	width:100%;
	height:100%;
	min-height:100%;
	overflow:hidden;
	background:#FFC;
	border:0;
	  margin:0;
  	 padding:0;
	font-family:Tahoma, Geneva, sans-serif;
	text-shadow:0px 1px #DDD;
	color:#222;	
}
html, html *, body, body *, *::before, *::after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.page-wrap{
	position:fixed;
	width:100%;
	height:100%;
	left:0;
	top:0;
	right:0;
	overflow:hidden;
	overflow-y:auto;
	
}

.page-content{
	position:absolute;
	width:960px;
	text-align:left;
	display:block;
	text-align:center;
	left:50%;
	transform: translateX(-50%);
}

.header{
	position:relative;
	text-align:center;
	width:100%;
	height:400px;
	background:#FFC;
}

.logo-big{
	position: absolute;
	left:50%;
	width:960px;
	transform: translateX(-50%);
	z-index:101;
	}
	
.body{
	position:relative;
	display:block;
	min-height:100vh;
	height:auto;
	background:#F2FFF5;
	padding-top:1em;
	font-size:18px;
}

.foot{
	position:relative;
	display:block;
	min-height:250px;
	background-color:#826126;
}
	
.h-slide{
	position:relative;
	width:100%;
	height:400px;
	background:#fff;
	display:block;	
}


hr{
	color:#64BE63;
}

.top-menu{
	display:block;
	position:absolute;
	top:1em;
	right:2em;
	z-index:1000;
}

.h-menu{
	position:relative;
	display:block;
	margin:0;padding:0;
	width:auto;
	height:auto;
}

.h-menu > span{
	display:inline-block;
	margin:0;padding:0;
	vertical-align:middle;
}

.h-menu > span.m-item a{
	margin:0.5em 0;
	padding:0.5em 0.35em;
	font-size:26px;
	
}

a{
color:#2CA84A;
text-decoration:none;
}

a:hover{
color:#64BE63;
}
.directory{
	text-align: left;
}

.item{
display:inline-block;
width:474px;
height: auto;
background:rgba(255,255,255,0.5);
border:1px solid rgba(0,0,0,0.5);
margin: 3px;
	vertical-align: top;

}

.item .head{
	text-align: left;
	padding-left: 1em;
	background:rgba(200,200,200,0.5);
	padding-bottom: 0.35em;
}

.item .keywords{
	font-size: 0.65em;
	background:rgba(100,100,100,0.8);
	text-align: center;
}
.item .keywords a{
color:white;
}
.item .content > div{
	display: inline-block;
}

.item .preview{
	width:256px;
}
.item .desc{
	width:calc(480px - 264px);
	text-align: left;
	padding: 0.2em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	vertical-align: top;
}


	
	
	